<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>图书编号</td>
        <td>图书名</td>
        <td>图书作者</td>
        <td>图书出版社</td>
        <td>图书总页数</td>
        <td>图书单价</td>
    </tr>
    <tr th:each="book:${list}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publish}"></td>
        <td th:text="${book.pages}"></td>
        <td th:text="${book.price}"></td>
    </tr>
</table>
</body>
</html>